.character-list-container {
    height: 100%;
    table {
        margin-top: 1rem;
        tr {
            cursor: pointer;
        }
    }
    img {
        max-width: 3rem;
        max-height: 3rem;
        object-fit: cover;
        border-radius: 50%;
    }
    .filter-container {
        margin-top: 5rem;
    }
}